package ${basePackage}.module.${table.moduleName}.controller.${sceneEnum.basePackage}.${table.businessName}.vo;

import com.alibaba.excel.annotation.ExcelProperty;
import ${ExcelColumnSelectClassName};
import ${ExcelI18nClassName};
import ${DictConvertClassName};
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;
import org.springframework.format.annotation.DateTimeFormat;
## 处理 BigDecimal 字段的引入
#foreach ($column in $columns)
#if (${column.javaType} == "BigDecimal")
import java.math.BigDecimal;
#break
#end
#end
## 处理 LocalDate/LocalDateTime 字段的引入
#foreach ($column in $columns)
#if ((${column.createOperation} || ${column.updateOperation}) && (${column.javaType} == "LocalDateTime" || ${column.javaType} == "LocalDate"))
import java.time.${column.javaType};
#break
#end
#end

@Schema(description = "${sceneEnum.name} - ${table.classComment}Excel Request VO")
@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
@Accessors(chain = false)
public class ${sceneEnum.prefixClass}${table.className}ExcelReqVO {

#foreach ($column in $columns)
#if ($column.createOperation || $column.updateOperation)
#if (!$column.primaryKey)
    @Schema(description = "${column.columnComment}"#if ("$!column.example" != ""), example = "${column.example}"#end)
#if (${column.javaType} == "LocalDateTime")
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
#elseif (${column.javaType} == "LocalDate")
    @DateTimeFormat(pattern = "yyyy-MM-dd")
#end
#if ("" != $column.dictType)
    @ExcelProperty(value = "${column.columnComment}", converter = DictConvert.class)
    @ExcelColumnSelect(dictType = "${column.dictType}")
#if ($isI18n)
    @ExcelI18n(i18nKey = "${table.moduleName}:${table.businessName}:field:${column.javaField}")
#end
#else
    @ExcelProperty("${column.columnComment}")
#if ($isI18n)
    @ExcelI18n(i18nKey = "${table.moduleName}:${table.businessName}:field:${column.javaField}")
#end
#end
    private ${column.javaType} ${column.javaField};

#end
#end
#end
}
