<script lang="ts" setup>
        #set ($isI18n = $extendConfig.get('isI18n') == '0')
import { $t } from '@vben/locales';
        #if ($extendConfig.get('isImport') != '1')

        const emit = defineEmits(['success']);
        #end
</script>

#if ($extendConfig.get('isImport') != '1')
<template>
  <ImportExcel
      #if($isI18n)
          :title="$t('ui.actionTitle.import', [$t('${table.moduleName}:${table.businessName}')])"
      #else
          :title="$t('ui.actionTitle.import', ['${table.classComment}'])"
      #end
          :import-api="import${simpleClassName}"
          :template-api="import${simpleClassName}Template"
      #if($isI18n)
          :template-file-name="$t('ui.actionTitle.importTemplate', [$t('${table.moduleName}:${table.businessName}')]) + '.xlsx'"
      #else
          :template-file-name="$t('ui.actionTitle.importTemplate', ['${table.classComment}']) + '.xlsx'"
      #end
          :form-schema="use${simpleClassName}ImportSchema"
          @success="emit('success')"
  />
</template>
#end
